.header__title {
  margin: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}